/*********************************/
/********** FONT : LATO **********/
/*********************************/
/* 900 */
@font-face {
    font-family: "Lato-Black";
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: "Lato-Black";
    font-style: italic;
    font-weight: 900;
    src: url('assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
}
/* 700 */
@font-face {
    font-family: "Lato-Bold";
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Lato-Bold";
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
}
/* 400 */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
}
/* 300 */
@font-face {
    font-family: "Lato-Light";
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Lato-Light";
    font-style: italic;
    font-weight: 300;
    src: url('assets/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
}
/* 100 */
@font-face {
    font-family: "Lato-Thin";
    font-style: normal;
    font-weight: 100;
    src: url('assets/fonts/Lato/Lato-Thin.ttf') format('truetype');
}
@font-face {
    font-family: "Lato-Thin";
    font-style: italic;
    font-weight: 100;
    src: url('assets/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
}
/*********************************/

body {
    margin: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

