ul {
    padding-inline-start: 0px !important;
}

.cv-navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    margin-top: -16px;
}

.cv-link-bloc {
    position: absolute;
    left: 18%;
    right: 18%;
    top: 33.64%;
    bottom: 37.27%;
    text-align: center;
    z-index: 2;
}

.cv-link-bloc a {
    font-family: "Lato";
    color: #8a97a8;
    font-size: 15px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
  }

  .cv-link-bloc a:hover {
    color: white;
  }

.cv-socialmedia-bloc {
    position: relative;
    z-index: 3;
    flex-wrap: wrap;
    width: 150px;
    float: right;
    margin-top: -46px;
}

.cv-socialmedia-elem {
    float: left;
    margin-left: 8px;
}

svg g g {
    fill: #FFFFFF;
}

svg g g:hover {
    fill: #8a97a8;
}

.main-rotate-bar {
    background: linear-gradient(180deg, rgba(19, 48, 84, 100) -7.84%, rgba(24, 50, 82, 100) 100%);
    position: relative;
    z-index: 1;
    width: 102%;
    height: 80px;
    transform: rotate(-0.8deg);
    margin-top: -20px;
    margin-left: -5px;
    overflow: hidden;
}

.line-rotate-bar {
    background: linear-gradient(88.77deg, #DF3750 0%, #DF3750 calc(3% + 55px), #183054 0%, #183054 calc(3% + 144px), #DF3750 0%, #DF3750 0%);
    position: relative;
    z-index: 10;
    width: 102%;
    height: 5px;
    margin-top: 76px;
    margin-left: -5px;
    overflow: hidden;
}

.cv-logo {
    position: relative;
    height: 89px;
    margin-top: -61px;
    margin-left: 3%;
    z-index: 100;
}

@media screen and (min-width: 1920px) {
    .main-rotate-bar {
        transform: rotate(0deg);
    }
  }

  @media screen and (max-width: 1102px) {
    .cv-link-bloc a {
        margin-left: 8px;
        margin-right: 8px;
    }
    .cv-logo {
        height: 76px;
        margin-top: -56px;
    }
    .line-rotate-bar {
        background: linear-gradient(88.77deg, #DF3750 0%, #DF3750 calc(3% + 49px), #183054 0%, #183054 calc(3% + 125px), #DF3750 0%, #DF3750 0%);
    }

  }

  @media screen and (max-width: 877px) {
    .cv-link-bloc {
        display: none;
    }
    .cv-socialmedia-bloc {
        display: none;
    }
  }



  #menuToggle {
    visibility: hidden;
  }


  @media screen and (max-width: 877px) {
    #menuToggle span {
        display: block;
        width: 33px;
        height: 2px;
        margin-bottom: 8px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 1;
    }

    #menuToggle {
        display: initial;
        visibility: visible;
        position: absolute;
        right: 10px;
        margin-top: -45px;
        height: 35px;
        width: 50px;
        z-index: 100;
        
        -webkit-user-select: none;
        user-select: none;
       }
    
       #menuToggle input
       {
         display: block;
         width: 40px;
         height: 32px;
         position: absolute;
         top: -7px;
         left: -5px;
         cursor: pointer;
         opacity: 0; /* hide this */
         z-index: 2; /* and place it over the hamburger */
         -webkit-touch-callout: none;
       }


       .mobile-screen {
        position: relative;
        margin-top: -60px;
        background: #DF3750;
        opacity: 0.98;
        width: 100vw;
        height: 100vh;
        padding-top: 15vh;
       }

       #menu, .cv-mobile-socialmedia-bloc {
        list-style: none;
        text-align: center;
       }

       #menu li
       {
         padding: 20px 0;
       }

       #menu a
       {
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-family: "Lato";
       }
       #menu a:hover
       {
         color: #8a97a8;
       }

       .cv-mobile-socialmedia-bloc {
        margin-left: calc(50% - 58px);
        margin-top: 18px;
       }

}


