<nav class="cv-navbar" > 

    <div>

      <div class="main-rotate-bar">
        <div class="line-rotate-bar"></div>
      </div>

      <a routerLink="/accueil" routerLinkActive="active">
        <img class="cv-logo" src="assets/images/navbar-logo.png">
      </a>


      <!-- DESKTOP NAVBAR -->
      <div class="cv-link-bloc">
          <a routerLink="/programmation" routerLinkActive="active">Programmation</a>
          <a routerLink="/billeterie" routerLinkActive="active">Billeterie</a>
          <a routerLink="/cashless" routerLinkActive="active">Cashless</a>
          <a routerLink="/le-festival" routerLinkActive="active">Le Festival</a>
          <a routerLink="/partenaires" routerLinkActive="active">Partenaires</a>
          <a routerLink="/infos-pratiques" routerLinkActive="active">Infos Pratiques</a>
      </div>

      <div class="cv-socialmedia-bloc">
        <div class="cv-socialmedia-elem">
            <a href="https://twitter.com/FestContrevent" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="18" height="18"
              viewBox="0 0 172 172"
              style="padding-top: 3px;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M172.215,35.905c-6.35594,2.82188 -13.16875,4.71656 -20.33094,5.57656c7.31,-4.38063 12.92687,-11.31438 15.56062,-19.565c-6.82625,4.04469 -14.41844,6.9875 -22.4675,8.57312c-6.45,-6.88 -15.64125,-11.16656 -25.81344,-11.16656c-19.53812,0 -35.38094,15.82937 -35.38094,35.3675c0,2.76812 0.3225,5.46906 0.92719,8.0625c-29.40125,-1.47813 -55.45656,-15.56063 -72.91187,-36.96656c-3.05031,5.24062 -4.78375,11.31437 -4.78375,17.79125c0,12.26844 6.235,23.09906 15.73531,29.455c-5.805,-0.18813 -11.26062,-1.78719 -16.03094,-4.43438c0,0.14781 0,0.29563 0,0.44344c0,17.14625 12.20125,31.43031 28.36656,34.69562c-2.95625,0.80625 -6.08719,1.23625 -9.31219,1.23625c-2.28438,0 -4.50156,-0.215 -6.665,-0.645c4.515,14.04219 17.57625,24.295 33.04281,24.57719c-12.09375,9.48688 -27.34531,15.13063 -43.92719,15.13063c-2.86219,0 -5.67062,-0.16125 -8.42531,-0.49719c15.64125,10.05125 34.23875,15.89656 54.22031,15.89656c65.06438,0 100.64688,-53.89781 100.64688,-100.63344c0,-1.53187 -0.04031,-3.07719 -0.09406,-4.58219c6.90687,-4.98531 12.9,-11.22031 17.64344,-18.31531z"></path></g></g></svg></a>       
        </div>
        <div class="cv-socialmedia-elem">
            <a href="https://www.facebook.com/festivalcontrevent/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="19" height="19"
              viewBox="0 0 172 172"
              style="padding-top: 2px;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M86,6.88c-43.62608,0 -79.12,35.49048 -79.12,79.12c0,43.62952 35.49392,79.12 79.12,79.12c43.62952,0 79.12,-35.49048 79.12,-79.12c0,-43.62952 -35.49048,-79.12 -79.12,-79.12zM110.08,55.04h-11.3176c-6.66672,0 -9.3224,1.5652 -9.3224,6.21264v10.98736h20.64l-3.44,17.2h-17.2v44.72h-20.64v-44.72h-10.32v-17.2h10.32v-9.54256c0,-14.534 5.79984,-24.85744 22.63864,-24.85744c9.01968,0 18.64136,3.44 18.64136,3.44z"></path></g></g></svg></a>  
        </div>
        <div class="cv-socialmedia-elem">
            <a href="https://www.youtube.com/channel/UCYpGSmMySGY_q22OawAQEjA" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="23" height="23"
              viewBox="0 0 172 172"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M154.45063,49.88c-1.37063,-7.56531 -7.90125,-13.07469 -15.48,-14.79469c-11.34125,-2.40531 -32.33063,-4.12531 -55.04,-4.12531c-22.69594,0 -44.02125,1.72 -55.37594,4.12531c-7.56531,1.72 -14.10937,6.88 -15.48,14.79469c-1.38406,8.6 -2.75469,20.64 -2.75469,36.12c0,15.48 1.37063,27.52 3.09063,36.12c1.38406,7.56531 7.91469,13.07469 15.48,14.79469c12.04,2.40531 32.68,4.12531 55.38937,4.12531c22.70938,0 43.34938,-1.72 55.38938,-4.12531c7.56531,-1.72 14.09594,-6.88 15.48,-14.79469c1.37062,-8.6 3.09062,-20.98937 3.44,-36.12c-0.69875,-15.48 -2.41875,-27.52 -4.13875,-36.12zM65.36,110.08v-48.16l41.96531,24.08z"></path></g></g></svg></a>            
        </div>
        <div class="cv-socialmedia-elem">
            <a href="https://www.instagram.com/festivalcontrevent/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="21" height="21"
              viewBox="0 0 172 172"
              style="padding-top: 1px;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M57.33333,21.5c-19.78717,0 -35.83333,16.04617 -35.83333,35.83333v57.33333c0,19.78717 16.04617,35.83333 35.83333,35.83333h57.33333c19.78717,0 35.83333,-16.04617 35.83333,-35.83333v-57.33333c0,-19.78717 -16.04617,-35.83333 -35.83333,-35.83333zM129,35.83333c3.956,0 7.16667,3.21067 7.16667,7.16667c0,3.956 -3.21067,7.16667 -7.16667,7.16667c-3.956,0 -7.16667,-3.21067 -7.16667,-7.16667c0,-3.956 3.21067,-7.16667 7.16667,-7.16667zM86,50.16667c19.78717,0 35.83333,16.04617 35.83333,35.83333c0,19.78717 -16.04617,35.83333 -35.83333,35.83333c-19.78717,0 -35.83333,-16.04617 -35.83333,-35.83333c0,-19.78717 16.04617,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g></g></svg></a>  
        </div>
    </div>
    <!-- DESKTOP NAVBAR -->


    <!-- MOBILE NAVBAR -->
    <div id="menuToggle">
        <input type="checkbox" (click)="clickNavbar()"/>
        <span [ngStyle]="moveMobileSpan1()"></span>
        <span [ngStyle]="moveMobileSpan2()"></span>
        <span [ngStyle]="moveMobileSpan3()"></span>
      </div>

      <div class="mobile-screen" [ngStyle]="moveMobileNavbar()">
          <ul id="menu">
              <div class="cv-mobile-link-bloc">
                  <li>
                      <a routerLink="/programmation" routerLinkActive="active" (click)="clickNavbar()">Programmation</a>
                  </li>
                  <li>
                      <a routerLink="/billeterie" routerLinkActive="active" (click)="clickNavbar()">Billeterie</a>
                  </li>
                  <li>
                      <a routerLink="/cashless" routerLinkActive="active" (click)="clickNavbar()">Cashless</a>
                  </li>
                  <li>
                      <a routerLink="/le-festival" routerLinkActive="active" (click)="clickNavbar()">Le Festival</a>
                  </li>
                  <li>
                      <a routerLink="/partenaires" routerLinkActive="active" (click)="clickNavbar()">Partenaires</a>
                  </li>
                  <li>
                      <a routerLink="/infos-pratiques" routerLinkActive="active" (click)="clickNavbar()">Infos Pratiques</a>
                  </li>
              </div>
              
            <div class="cv-mobile-socialmedia-bloc">
                <div class="cv-socialmedia-elem">
                    <a href="https://twitter.com/FestContrevent" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="18" height="18"
                      viewBox="0 0 172 172"
                      style="padding-top: 3px;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M172.215,35.905c-6.35594,2.82188 -13.16875,4.71656 -20.33094,5.57656c7.31,-4.38063 12.92687,-11.31438 15.56062,-19.565c-6.82625,4.04469 -14.41844,6.9875 -22.4675,8.57312c-6.45,-6.88 -15.64125,-11.16656 -25.81344,-11.16656c-19.53812,0 -35.38094,15.82937 -35.38094,35.3675c0,2.76812 0.3225,5.46906 0.92719,8.0625c-29.40125,-1.47813 -55.45656,-15.56063 -72.91187,-36.96656c-3.05031,5.24062 -4.78375,11.31437 -4.78375,17.79125c0,12.26844 6.235,23.09906 15.73531,29.455c-5.805,-0.18813 -11.26062,-1.78719 -16.03094,-4.43438c0,0.14781 0,0.29563 0,0.44344c0,17.14625 12.20125,31.43031 28.36656,34.69562c-2.95625,0.80625 -6.08719,1.23625 -9.31219,1.23625c-2.28438,0 -4.50156,-0.215 -6.665,-0.645c4.515,14.04219 17.57625,24.295 33.04281,24.57719c-12.09375,9.48688 -27.34531,15.13063 -43.92719,15.13063c-2.86219,0 -5.67062,-0.16125 -8.42531,-0.49719c15.64125,10.05125 34.23875,15.89656 54.22031,15.89656c65.06438,0 100.64688,-53.89781 100.64688,-100.63344c0,-1.53187 -0.04031,-3.07719 -0.09406,-4.58219c6.90687,-4.98531 12.9,-11.22031 17.64344,-18.31531z"></path></g></g></svg></a>       
                </div>
                <div class="cv-socialmedia-elem">
                    <a href="https://www.facebook.com/festivalcontrevent/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="19" height="19"
                      viewBox="0 0 172 172"
                      style="padding-top: 2px;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M86,6.88c-43.62608,0 -79.12,35.49048 -79.12,79.12c0,43.62952 35.49392,79.12 79.12,79.12c43.62952,0 79.12,-35.49048 79.12,-79.12c0,-43.62952 -35.49048,-79.12 -79.12,-79.12zM110.08,55.04h-11.3176c-6.66672,0 -9.3224,1.5652 -9.3224,6.21264v10.98736h20.64l-3.44,17.2h-17.2v44.72h-20.64v-44.72h-10.32v-17.2h10.32v-9.54256c0,-14.534 5.79984,-24.85744 22.63864,-24.85744c9.01968,0 18.64136,3.44 18.64136,3.44z"></path></g></g></svg></a>  
                </div>
                <div class="cv-socialmedia-elem">
                    <a href="https://www.youtube.com/channel/UCYpGSmMySGY_q22OawAQEjA" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="23" height="23"
                      viewBox="0 0 172 172"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M154.45063,49.88c-1.37063,-7.56531 -7.90125,-13.07469 -15.48,-14.79469c-11.34125,-2.40531 -32.33063,-4.12531 -55.04,-4.12531c-22.69594,0 -44.02125,1.72 -55.37594,4.12531c-7.56531,1.72 -14.10937,6.88 -15.48,14.79469c-1.38406,8.6 -2.75469,20.64 -2.75469,36.12c0,15.48 1.37063,27.52 3.09063,36.12c1.38406,7.56531 7.91469,13.07469 15.48,14.79469c12.04,2.40531 32.68,4.12531 55.38937,4.12531c22.70938,0 43.34938,-1.72 55.38938,-4.12531c7.56531,-1.72 14.09594,-6.88 15.48,-14.79469c1.37062,-8.6 3.09062,-20.98937 3.44,-36.12c-0.69875,-15.48 -2.41875,-27.52 -4.13875,-36.12zM65.36,110.08v-48.16l41.96531,24.08z"></path></g></g></svg></a>            
                </div>
                <div class="cv-socialmedia-elem">
                    <a href="https://www.instagram.com/festivalcontrevent/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="21" height="21"
                      viewBox="0 0 172 172"
                      style="padding-top: 1px;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M57.33333,21.5c-19.78717,0 -35.83333,16.04617 -35.83333,35.83333v57.33333c0,19.78717 16.04617,35.83333 35.83333,35.83333h57.33333c19.78717,0 35.83333,-16.04617 35.83333,-35.83333v-57.33333c0,-19.78717 -16.04617,-35.83333 -35.83333,-35.83333zM129,35.83333c3.956,0 7.16667,3.21067 7.16667,7.16667c0,3.956 -3.21067,7.16667 -7.16667,7.16667c-3.956,0 -7.16667,-3.21067 -7.16667,-7.16667c0,-3.956 3.21067,-7.16667 7.16667,-7.16667zM86,50.16667c19.78717,0 35.83333,16.04617 35.83333,35.83333c0,19.78717 -16.04617,35.83333 -35.83333,35.83333c-19.78717,0 -35.83333,-16.04617 -35.83333,-35.83333c0,-19.78717 16.04617,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g></g></svg></a>  
                </div>
            </div>
          </ul>
      </div>

      <!-- MOBILE NAVBAR -->




  </div>

</nav>